:root {
    --white: #FFFFFF;
    --light-orange: #FFBF69;
    --dark-orange: #FF9F1C;
    --light-blue: #CBF3F0;
    --dark-blue: #2EC4B6;
    --main-bg-grey: #D8D5DB;
    --secondary-bg-grey: #ADACB5;
    --dark-blue2: #2D3142;
    --dark-blue2-light: #424860;
    --light-blue: #B0D7FF;
    --light-purple: #EAE8FF;
    background-color: var(--dark-blue2-light);
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}


a {
    text-decoration: none;
    color: var(--white);
}

.video-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}


.video-card {
    margin: 30px 30px 5px 30px;
    width: fit-content;
}

.video-card p {
    color: var(--white);
    text-align: center;
    margin: 0;
}


video {
    border-radius: 10px;
    width: 350px;
    border: 5px solid var(--dark-blue2);

    transition: transform 0.3s ease-in-out;
}


/* video:hover {
    transform: scale(1.05);
    border: 5px solid var(--dark-orange);
} */

/* This is used for everthing whn selected, add this to classList */
.selected {
    transform: scale(1.05);
    border: 5px solid var(--dark-orange);
}

.header {
    margin: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 10px;
    width: 98%;
    height: 6vh;
    border-radius: 10px;
    background-color: var(--dark-blue2);
    transition: all 0.3s ease-in-out;
}


.header li {
    padding-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    list-style-type: none;
}





.header li a {
    font-size: 2em;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}

/* .header li:hover a {
    color: var(--dark-orange);
    cursor: pointer;
    padding-left: 10px;
    transition: all 0.3s ease;

} */

.header li i {
    margin-left: 15px;
}

.user-dropdown {
    z-index: 10;
    height: 0px;
    width: 0px;
    background-color: rgba(45, 49, 66, 0.75);
    position: absolute;
    border-radius: 10px;

    overflow: hidden;
    backdrop-filter: blur(8.2px);

    transform: translateY(8vh);

}

.user-dropdown-show {
    height: 350px;
    width: 400px;
    transition: all 0.3s ease-in-out;
}

.logo-container {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin-right: auto;
    padding: 10px 40px 10px 40px;

    font-size: 2em;
    color: var(--dark-orange);
    font-weight: 700;

}