:root {
    --white: #FFFFFF;
    --light-orange: #FFBF69;
    --dark-orange: #FF9F1C;
    --light-blue: #CBF3F0;
    --dark-blue: #2EC4B6;
    --main-bg-grey: #D8D5DB;
    --secondary-bg-grey: #ADACB5;
    --dark-blue2: #2D3142;
    --dark-blue2-light: #424860;
    --light-blue: #B0D7FF;
    --light-purple: #EAE8FF;
    background-color: var(--dark-blue2-light);
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

::-webkit-scrollbar {
    display: none;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

.message-container {}

.message-card {
    padding: 30px;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--dark-blue2);
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-card img {
    width: 100%;
    height: 100%;

}

.message-card p {
    color: var(--light-orange);
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.video-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 90vh;
}


.video-card {
    margin: 30px 30px 30px 30px;
    width: fit-content;
}

.video-card p {
    color: var(--white);
    text-align: center;
    margin: 0;
}

#miPopup {
    z-index: 10;
}

video {
    border-radius: 10px;
    max-width: 250px;
    width: 100%;

    border: 5px solid var(--dark-blue2);

    transition: transform 0.3s ease-in-out;
}


/* video:hover {
    transform: scale(1.05);
    border: 5px solid var(--dark-orange);
} */

/* This is used for everthing whn selected, add this to classList */
.selected {
    transform: scale(1.05);
    border: 5px solid var(--dark-orange);
}

.header {
    margin: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0px 10px 0px;

    width: 98%;
    height: 7.5vh;
    border-radius: 10px;
    background-color: var(--dark-blue2);
    transition: all 0.3s ease-in-out;
}


.header li {
    transition: transform 0.3s ease-in-out;
    padding: 10px 40px 5px 40px;
    border-radius: 10px;
    list-style-type: none;
}


.header li a {
    align-items: center;
    font-size: 1.5em;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}

.logo-container {
    margin-top: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
    margin-right: auto;
    padding: 10px 40px 37px 40px;

    font-size: 1.5em;
    color: var(--dark-orange);
    font-weight: 700;

}

/* .header li:hover a {
    color: var(--dark-orange);
    cursor: pointer;
    padding-left: 10px;
    transition: all 0.3s ease;

} */

.header li i {
    margin-left: 15px;
}

.user-dropdown {
    z-index: 10;
    height: 0px;
    width: 0px;
    background-color: rgba(45, 49, 66, 0.75);
    position: absolute;
    border-radius: 10px;

    overflow: hidden;
    backdrop-filter: blur(8.2px);

    transform: translateY(8vh);

}

.user-dropdown-show {
    height: 350px;
    width: 400px;
    transition: all 0.3s ease-in-out;
}






.circle {
    margin: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 25px;
    background-color: blue;
    margin-left: 45px;

}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.barra_carga {
    width: 90%;
    height: 25%;
    background-color: var(--dark-orange);
    position: absolute;
    top: 60%;
    left: 5%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.Text_experiencia {
    margin-left: 30%;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

.user-option {

    margin-left: 25px;
    margin-top: 50px;

}

.user-option-button {
    height: 50px;
    width: 150px;
}

.user-dropdown-show {
    height: 350px;
    width: 400px;
    transition: all 0.3s ease-in-out;
}



#drop-down-menu {
    display: none;
}

/* Muestra el objeto cuando tiene la clase "visible" */
#drop-down-menu.visible {
    display: block;
}

/* ------------------------------- dropdown menu ------------------------------- */
/* -------------------------------experience page------------------------------- */

.experience-card {
    width: 95%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
    background-color: var(--dark-blue2);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-left: 3%;
}

.experience-card:hover {
    transform: scale(1.05);
    border: 5px solid var(--dark-orange);
}

.Experience_needed {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.Description_text {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.experience-title {

    width: 95%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
    background-color: var(--dark-blue2);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-left: 3%;
}

.circle_exp {
    margin: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 25px;
    background-color: blue;
}

.gestures_texts {
    margin: 40px;
    display: inline-block;
    width: 100px;
    height: 100px;

    overflow: hidden;
    margin-top: 25px;

}

.circle_exp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.contenido-popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.circle_user {
    margin: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 25px;
    background-color: blue;
    margin-left: 40%;
}

.circle_user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}