:root {
    --main-bg-grey: #D8D5DB;
    --secondary-bg-grey: #ADACB5;
    --dark-blue: #2D3142;
    --light-blue: #B0D7FF;
    --font-size: 4em;
    background-color: var(--main-bg-grey);
}

.container {
  display: grid;
  grid-template-rows:  12.5% 12.5% 12.5% 16.1% 16.1% 20%;
  grid-template-columns: 1fr;
  height: 100vh;
}

.box1 {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: start; 
    background-color: var(--light-blue); 
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

.box2A {
  grid-row: 2 / 3;
  justify-self: center;
  align-self: start;
}

.box2 {
  grid-row: 3 / 4;
  justify-self: center;
  align-self: start;
}

.box2B {
  grid-row: 4 / 5;
  justify-self: center;
  align-self: start;
}

.box3 {
  grid-row: 5 / 6;
  justify-self: center;
  align-self: center;
}

.box4 {
  grid-row: 6 / 7;
  justify-self: center;
  align-self: center;
}

.box5 {
  grid-row: 7 / 8;
  justify-self: center;
  align-self: start; 
  background-color: var(--light-blue); 
  width: 100%;
  margin: 0; 
  padding: 0; 
  text-align: center;
}

.fa-chevron-left {
  color: var(--dark-blue);
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
  margin-right: 0.4em;
}

.fa-chevron-right {
  color: var(--dark-blue);
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
  margin-left: 0.45em;
}

.fa-chevron-left {
  color: var(--dark-blue);
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
  margin-right: 0.45em;
}

.fa-heart,
.fa-rotate-left {
  color: var(--dark-blue);
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
  margin-right: 0.8em;
}

.fa-star,
.fa-check {
  color: var(--dark-blue);
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
  margin-left: 0.8em;
}

.fa-plus,
.fa-chevron-up,
.fa-chevron-down,
.fa-chevron-right,
.fa-pause-circle,
.fa-minus{
  color: var(--dark-blue);
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
}

.fa-plus:hover,
.fa-chevron-up:hover,
.fa-chevron-down:hover,
.fa-chevron-left:hover,
.fa-chevron-right:hover,
.fa-pause-circle:hover,
.fa-hands:hover,
.fa-star:hover,
.fa-rotate-left:hover,
.fa-check:hover,
.fa-minus:hover ,
.fa-heart:hover{
  color: #FFFFCC;
}

.container > * {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

